extends base

block extra-headers
  script(src='/static/dropzone/dist/min/dropzone.min.js')

  link(rel='stylesheet', href='/static/css/index.css')
  script(src='/static/js/index.js')

  script(src='/static/sweetalert/dist/sweetalert.min.js')
  link(rel='stylesheet', href='/static/sweetalert/dist/sweetalert.css')

block content
  div.row
    div.col-sm-8.col-sm-offset-2.main
      img(class="logo" src="/static/img/logo.png")
      h4 #MITAnalytics
      - if (redrop)
        h2 Drop your updated resume below
      - else
        h1 RESUME DROP
      form(action="update", class="dropzone", id="resume-dropzone")
    div.row.footer
      div.col-sm-4.col-sm-offset-4.intro
        a(href="/MBAn") Meet our organizing team
      div.col-sm-2.col-sm-offset-2
        a(href="http://mitsloan.mit.edu/master-of-business-analytics/")
          img(class="logo-org" src="/static/img/orc.jpg")
        a(href="https://orc.mit.edu/")
          img(class="logo-org" src="/static/img/mban.png")
