extends base

block extra-headers
  script(src='/static/dropzone/dist/min/dropzone.min.js')

  link(rel='stylesheet', href='/static/css/index.css')
  script(src='/static/js/index.js')

  script(src='/static/sweetalert/dist/sweetalert.min.js')
  link(rel='stylesheet', href='/static/sweetalert/dist/sweetalert.css')

block content
  div.row
    div.col-sm-8.col-sm-offset-2.main
      h1(style="margin-top: 3%; margin-bottom: 2%;") 2018 MIT Careers in Business Analytics Networking Evening

      img(class="logo" src="/static/img/logo.png")
      h4 #MITANALYTICS

      div.details
        h4 February 7, 2018 5:30 PM – 8:30 PM
        h4 MIT Media Lab

      a(href="https://www.analyticsfair.mit.edu")
          div.col-sm-4.col-sm-offset-4.btn.btn-default.reg-btn Go to Event Details

      div.col-sm-8.col-sm-offset-2(style="margin-top: 4%;")
        a(href="/jobs" style="color: #fff; font-size: 20px;")#Job Postings

      div.col-sm-12 
        - if (redrop)
          h2 Drop your updated resume below
        - else
          h1 RESUME DROP
        form(action="update", class="dropzone", id="resume-dropzone")
    div.row.footer
      div.col-sm-4.col-sm-offset-4.intro
        a(href="https://www.analyticsfair.mit.edu/team/" style="color: #333;") Meet our organizing team
      div.col-sm-2.col-sm-offset-2(style="float: right;")
        div.row
          div.col-sm-6
            a(href="https://orc.mit.edu/")
              img(class="logo-org" src="/static/img/orc.jpg")
          div.col-sm-6
            a(href="http://mitsloan.mit.edu/master-of-business-analytics/")
              img(class="logo-org" src="/static/img/mban.png")
