extends base

block extra-headers
  script(src='/static/dropzone/dist/min/dropzone.min.js')

  link(rel='stylesheet', href='/static/css/index.css')
  script(src='/static/js/index.js')

  script(src='/static/sweetalert/dist/sweetalert.min.js')
  link(rel='stylesheet', href='/static/sweetalert/dist/sweetalert.css')

block content
  div.row
    div.col-sm-8.col-sm-offset-2.main
      h1(style="margin-top: 5%; margin-bottom: 2%;") 2017 MIT Careers in Business Analytics Networking Evening

      img(class="logo" src="/static/img/logo.png")
      h4 #MITANALYTICS

      div.details
        p February 7, 2017 5:00 PM – 8:00 PM
        p MIT Media Lab, 75 Amherst Street, Cambridge, MA 02139

      div.col-sm-12
        a(href="https://www.eventbrite.com/e/2017-mit-careers-in-analytics-networking-evening-corporate-partners-tickets-30102338906")
          div.col-sm-4.col-sm-offset-1.btn.btn-default.reg-btn Corporate Registration
        a(href="https://www.eventbrite.com/e/2017-mit-careers-in-business-analytics-networking-evening-tickets-30710700532")
          div.col-sm-4.col-sm-offset-2.btn.btn-default.reg-btn Student Registration
      div.col-sm-4.col-sm-offset-4.btn.btn-default.btn-sm#drop-btn
        h4 Resume Drop

      div.col-sm-4.col-sm-offset-4(style="margin-top: 1%;")
        a(href="/jobs" style="color: #fff;") Job Postings

      div.col-sm-12#drop-resume-box
        - if (redrop)
          h2 Drop your updated resume below
        - else
          h1 RESUME DROP
        form(action="update", class="dropzone", id="resume-dropzone")

    div.row.footer
      div.col-sm-4.col-sm-offset-4.intro
        a(href="/MBAn" style="color: #333;") Meet our organizing team
      div.col-sm-2.col-sm-offset-2
        a(href="https://orc.mit.edu/")
          img(class="logo-org" src="/static/img/orc.jpg")
        a(href="http://mitsloan.mit.edu/master-of-business-analytics/")
          img(class="logo-org" src="/static/img/mban.png")
