extends base

block extra-headers
  script(src='/static/dropzone/dist/min/dropzone.min.js')

  link(rel='stylesheet', href='/static/css/index.css')
  script(src='/static/js/index.js')

  script(src='/static/sweetalert/dist/sweetalert.min.js')
  link(rel='stylesheet', href='/static/sweetalert/dist/sweetalert.css')

block content
  div.row
      #h1(Resume Drop is closed)

      div.col-sm-12
        - if (redrop)
          h2 Drop your updated resume below
        - else
          h1 2019 Analytics Career Night - Resume Drop
        form(action="update", class="dropzone", id="resume-dropzone")

     div.details
        h5 Analytics Career Night will occur on February 5, 2019 5:30 PM – 8:30 PM - MIT Media Lab
        a(href="https://www.analyticsfair.mit.edu")
          div.col-sm-4.col-sm-offset-4.btn.btn-default.reg-btn Go to Event Details

     div.col-sm-8.col-sm-offset-2(style="margin-top: 4%;")
        a(href="/jobs" style="color: #fff; font-size: 20px;")#JobPostings
