extends base

block extra-headers
  link(rel='stylesheet', href='/static/css/jobs.css')
  script(src='/static/js/jobs.js')


block top-banner

  div.header
    div.col-sm-8.col-sm-offset-2
      h3 2017 MIT Careers in Business Analytics Networking Evening
      h4 Job Descriptions

    div.logo-org
        a(href="http://mitsloan.mit.edu/master-of-business-analytics/")
          img(class="logo" src="/static/img/mban.png")
        a(href="https://orc.mit.edu/")
          img(class="logo" src="/static/img/orc.jpg")

block content
  div.row.col-sm-10.col-sm-offset-1.main
    div.col-sm-6
      h4 Algomus
      a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/Algomus/AlgomusMachineLearningScientist.pdf") Machine Learning Engineer

      h4 BCG Gamma
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/BCG/Gamma+Data+Scientist++job+description.pdf") Gamma Data Scientist
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/BCG/Gamma+Senior+Data+Scientist++job+description.pdf") Gamma Senior Data Scientist
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/BCG/Gamma+Lead+Data+Scientist+job+description.pdf") Gamma Lead Data Scientist

      h4 Barclays
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/Barclays/Intern.pdf") Automated Volatility Trading group - Internship

      h4 Diffeo
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/Diffeo/IR+%26+ML+Engineer+Diffeo.pdf") Information Retrieval and Machine Learning Engineer
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/Diffeo/UX+Engineer+Diffeo.pdf") User Experience Engineer

      h4 DigitasLBi
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/Digitas/Description_AdvancedAnalytics_Analyst_201604.pdf") Advanced Analytics - Analyst
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/Digitas/Description_AdvancedAnalytics_SeniorAnalyst201604.pdf") Advanced Analytics - Senior Analyst

      h4 The Walt Disney Company
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/Disney/Disney+Data+Analytics+Consultant+posting+for+MIT_2-17.pdf") Data Analytics Consultant
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/Disney/Disney+Data+Integration+Consultant+posting+for+MIT_2-17.pdf") Data Integration Consultant
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/Disney/Disney+Decision+Science+Consultant+posting+for+MIT+2_17.pdf") Decision Science Consultant
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/Disney/Disney+Decision+Science+Internship+posting+for+MIT+2_17.pdf") Decision Science Internship

      h4 End-to-End Analytics
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/e2eAnalytics/e2e+JobDescription-AnalyticsConsultant+17+0126.pdf") Analytics Consultant

      h4 FedEx Freight
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/Fedex/Analyst+-+Operations+Research++61076+6-16-2016.pdf") Analyst - Operations Research
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/Fedex/Mgr+-+Model+Development+61104+12-29-11.pdf") Mgr - Model Development

      h4 Formlabs
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/Formlabs/MIT+PDF+jobs+for+Dinner.pdf") Software Engineer

      h4 Google
      p
        a(href="https://careers.google.com/jobs/#!t=jo&jid=/google/data-scientist-quantitative-analyst-1600-amphitheatre-pkwy-mountain-view-ca-712200081&") Data scientist/Quantitative Analyst
      p
        a(href="https://careers.google.com/jobs/#!t=jo&jid=/google/software-engineer-phd-university-1600-amphitheatre-pkwy-mountain-view-ca-1540007&") Software Engineer, PhD University Graduate
      p
        a(href="https://careers.google.com/students/") Others

      h4 ISN Software
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/ISN/Analytics+Coordinator%2C+Summer+Internship.pdf") Analytics Coordinator, Summer Internship

    div.col-sm-6
      h4 Lyft
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/Lyft/DataAnalystIntern.pdf") Data Analyst Intern
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/Lyft/DataAnalystNewGrad.pdf") Data Analyst New Grad

      h4 Mass General Hospital - Medical Analytics Group
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/Mass+General+Hospital/JobDescription.pdf") Data Scientist/Developer

      h4 Mayo Clinic - Department of Management Engineering & Internal Consulting
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/Mayo+Clinic/HEALTH_SYSTEMS_ENGINEER_REV2.pdf") Health Systems Engineer
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/Mayo+Clinic/MEIC_FELLOWSHIP_PROG_REV.PDF") Fellowship Program

      h4 MyA Health
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/MyA+Health/MyA_JobPosting2017.pdf") Job Posting

      h4 P2 Analytics
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/P2+Analytics/P2_JobPosting2017.pdf") Job Posting

      h4 TripAdvisor
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/TripAdvisor/Data+Science+Intern.pdf") Data Science Intern
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/TripAdvisor/Machine+Learning+Engineer.pdf") Machine Learning Engineer
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/TripAdvisor/Senior+Machine+Learning+Engineer.pdf") Senior Machine Learning Engineer

      h4 United Airlines
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/United/JD+-+Scientist+-+Data+and+Statistics+-+Jan+2017.docx") Scientist - Data and Statistics
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/United/JD+-+Senior+Analyst+-+Statistics+and+Operations+Research+-+Oct+2016+with+changes.doc") Senior Analyst - Statistics and Operations Research

      h4 Wayfair
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/Wayfair/MIT.ALGORITHMS.pdf") Algorithms
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/Wayfair/MIT.BUSINESS+INTELLIGENCE.pdf") Business Intelligence
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/Wayfair/MIT.DATA+SCIENTIST.pdf") Data Scientist
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/Wayfair/MIT.OPERATIONS+ANALYTICS.pdf") Operations Research
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/Wayfair/MIT.OPERATIONS+RESEARCH.pdf") Operations Analytics
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/Wayfair/MIT.PRICING.pdf") Pricing

      h4 Wellington Management
      p
        a(href="https://s3.amazonaws.com/ba-career-fair-2017/jobs/Wellington/Quant+Analyst+job+description+2017+v1.pdf") Quant Analyst
