extends base

block extra-headers
  link(rel='stylesheet', href='/static/css/MBAn.css')

block top-banner

  div.header
    div.col-sm-8.col-sm-offset-2
      h1 Organizing Team
      h5 We are all from MIT Sloan Master of Business Analytics Program

    div.logo-org
        a(href="http://mitsloan.mit.edu/master-of-business-analytics/")
          img(class="logo" src="/static/img/mban.png")
        a(href="https://orc.mit.edu/")
          img(class="logo" src="/static/img/orc.jpg")

block content
  div.row
    div.col-sm-3.card(style="padding: 0; background-color: #00698e;")
      div.col-sm-6
        img(class="head" src="/static/img/team/Abie.png")
      div.col-sm-6.intro
        h3 Abie
        h5 logistics Manager
    div.col-sm-3.card(style="padding: 0; background-color: #4d858d;")
      div.col-sm-6
        img(class="head" src="/static/img/team/Luc.jpg")
      div.col-sm-6.intro
        h3 Luc
        h5 Operation Manager
    div.col-sm-3.card(style="padding: 0; background-color: #006b67;")
      div.col-sm-6
        img(class="head" src="/static/img/team/Matthijs.jpg")
      div.col-sm-6.intro
        h3 Matt
        h5 Technical Operations Manager
    div.col-sm-3.card(style="padding: 0; background-color: #6aa2b8;")
      div.col-sm-6
        img(class="head" src="/static/img/team/Yuhan.jpg")
      div.col-sm-6.intro
        h3 Yuhan
        h5 Technical Lead
  div.row
    div.col-sm-3.card(style="padding: 0; background-color: #041d40;")
      div.col-sm-6
        img(class="head" src="/static/img/team/Jonathan.jpg")
      div.col-sm-6.intro
        h3 Jonathan
        h5 Student Relations Manager
    div.col-sm-9(style="padding: 0; background-color: #333d47;")
      div.col-sm-4.card
        div.col-sm-6
          img(class="head" src="/static/img/team/Afshine.jpeg")
        div.col-sm-6.intro
          h3 Afshine
          h5 Corporate Relations Manager
      div.col-sm-4.card
        div.col-sm-6
          img(class="head" src="/static/img/team/Lorena.jpg")
        div.col-sm-6.intro
          h3 Lorena
          h5 Corporate Relations Manager
      div.col-sm-4.card
        div.col-sm-6
          img(class="head" src="/static/img/team/Yifei.jpg")
        div.col-sm-6.intro
          h3 Yifei
          h5 Corporate Relations Manager
      div.col-sm-3
  div.row
    div.col-sm-6(style="padding: 0; background-color: #AFB1C4;")
      div.col-sm-6.card
        div.col-sm-6
          img(class="head" src="/static/img/team/Nikki.jpg")
        div.col-sm-6.intro
          h3 Nikki
          h5 Product Manager
      div.col-sm-6.card
        div.col-sm-6
          img(class="head" src="/static/img/team/Ruochen.jpg")
        div.col-sm-6.intro
          h3 Ruochen
          h5 Product Manager
    div.col-sm-6(style="padding: 0; background-color: #778DA3;")
      div.col-sm-6.card
        div.col-sm-6
          img(class="head" src="/static/img/team/Matthieu.jpg")
        div.col-sm-6.intro
          h3 Matthieu
          h5 Security Manager
      div.col-sm-6.card
        div.col-sm-6
          img(class="head" src="/static/img/team/Souhail.jpg")
        div.col-sm-6.intro
          h3 Souhail
          h5 Security Manager
  div.row
    div.col-sm-3.card(style="padding: 0; background-color: #587388;")
      div.col-sm-6
        img(class="head" src="/static/img/team/Karoline.jpeg")
      div.col-sm-6.intro
          h3 Karoline
          h5 Social Media Manager
    div.col-sm-3.card(style="padding: 0; background-color: #2E6B80;")
      div.col-sm-6
        img(class="head" src="/static/img/team/Omar.jpg")
      div.col-sm-6.intro
        h3 Omar
        h5 Treasurer
